@import'variables';
%btn{
  background-image: url(../image/bar-18.png);
  background-size: 50% 50%;
    border: $color-blue;
    padding: 15px 32px;
    text-align: center;
    color: $color-blue;
    text-decoration: none;
    border: 2px solid $color-blue;
    border-radius: 12px;
    font-size: 29px;
    font-weight: bold;
    width: 650px;
    
}

@mixin hover {
  &:hover{
    background-color: $color-blue;
      color:$color-gray;
    
  }
    
}

button{
  @extend %btn;
  @include hover ();
  

  
  }