@import'variables';

.logo2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

.container2{
    display: flex;
    margin-bottom: 5%;
}

.left2{
    text-align: center;
    margin-left: 15%;
    font-size: 1vw;
}

.numb{
    color: $color-green;
}

.rghit2{
    margin-left: 35%;
    text-align: center;
    margin-top: 4%;
}
.rghitlist{
    display: block;
    
}
.Contactsu{
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 1.6vw;
}


.lastpart{
    background-color: $color-blue;
    width: 100%;
    height: 50px;
}