@import'variables';

.logo2{

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 2%;
    padding-bottom: 3%;
}

.container2{
    display: flex;
}

.left2{
    text-align: center;
    padding-left: 20%;
    font-size: 1vw;
    padding-bottom: 2%;
}

.numb{
    color: $color-green;
}


.rghit2{
    padding-left: 30%;
    padding-top: 2%;
    text-align: center;
    font-size: 1.4vw;
}


.Acceuil{
    font-weight: bold;
    color: $color-blue;
}





.bluebar{
    background-color: $color-blue;
    width: 100%;
    height: 50px;
}