@import'variables';


.firstpart{
    background-color: $color-blue;
    color: $color-gray;
    font-size: 1.2vw;
}
span{
    color: $color-yellow;
    padding-left: 9%;
    
    
}

.Roff{
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    padding-top: 1%;
    
   
}

h3{
    margin-left: 17%;
    font-weight: bold;
}
    
.list{
   
    padding-top: 2%;
    padding-bottom: 3%;
    
}

.secodtpart{
    text-align: center;
    background-color: $color-ciel;
    padding-top: 1%;
    
}

.icon2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 2%;
}

.divise{
    display: flex;
}
.ybut{
    display: block;
    background-color: $color-yellow;
    padding: 15px 32px;
    text-align: center;
    color: $color-blue;
    text-decoration: none;
    border: 2px solid $color-blue;
    border-radius: 12px;
    font-size: 29px;
    font-weight: bold;
    width: 300px;
    margin-left: 127%;
    margin-top: 10%;
    margin-bottom: 3%;
}