@import'variables';

 /*Buttn*/
@media screen and (max-width:768px) {
    .buttn{
      width: 150px;
      font-size: 10px;
      padding: 6px 6px;
      
    }
  }

   /*Yellow-Part*/

   



/*Hero-eader*/
  
  
/*proteger section*/

@media screen and (max-width:768px) {
  .perpart{
    display: flex;
    flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
  }

  .Derpart{
    display: flex;
    flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
  align-content: stretch;
  
  }

}
/*symptoms*/
@media screen and (max-width:768px) { 

  .IMG{
    height: 60px;
  }
  .para{
    font-size: 80%;
  }
  .parent{
    
    margin-right: 6%;
    padding-bottom: 5%;
  }
  .T2{
    font-size: 100%;
  }
}

/*HeroHeader Start */
@media screen and (max-width:768px) {
  .row {
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: space-between;
  margin-left: 20%;
  }

  .ImG{
    
      height: 200px;
      width: 160%;
     
  }
  
  .left{
    margin-left: 19;

  }
}
