
body{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

$color-blue:#1078AD;
$color-yellow:#F4CF1B;
$color-ciel:#96C5DC;
$color-gray:#e9ecef;
$color-green:#369D53;
$color-font:#7F7F7F;
$color-black:#000000;



li{
  list-style-type: none;
}

a{
  text-decoration: none;
}
nav{
  width: 100vw;
}
nav{
  width: 100vw;
  background-image: url(../image/bar-17.png);
}
ul{
  margin: 0;
  padding: 0;
  
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
}

li{
  list-style-type: none;  
  
  /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
  margin: 1vw 2vw;
  
}
.First{
  margin-left: 70%;
}
a{
  text-decoration: none;
  color: black;
  
 
  
}

img{
  width: 2%;
  height: 2%;
  margin-left: 90%;
 
}








.info{
  background-color:$color-yellow;
  text-align: center;
}

h1{
  padding-top: 2%;
  padding-bottom: 1%;
  color: $color-blue;
 
}

p{
  padding-bottom: 2%;
}


.text2{
  margin-left: 5%;
  text-align: center;

}

.pensez
{
    display: flex;
    padding-left: 10%;
    padding-top: 3%;
}
.pen{
  height: 100%;
  width: 100%;
  margin-left: 2%;
  margin-top: 0%;
  
}

.text3{
  text-align: center;
  font-size: 100%;
}

button{
  background-image: url(../image/bar-17.png);
  
  border: $color-blue;
  padding: 15px 32px;
  text-align: center;
  color: $color-blue;
  text-decoration: none;
  border: 2px solid $color-blue;
  border-radius: 12px;
  font-size: 29px;
  margin: 4px 2px;
  width: 650px;

}

.icon{
  width: 9%;
  height: 10%;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 5%;
}

  


