@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'cairo', sans-serif; }

.buttn {
  background-image: url(../image/bar-18.png);
  background-size: 50% 50%;
  border: #1078AD;
  padding: 10px 19px;
  text-align: center;
  color: #1078AD;
  text-decoration: none;
  border: 2px solid #1078AD;
  border-radius: 12px;
  font-size: 29px;
  font-weight: bold;
  width: 590px; }

.buttn:hover {
  background-color: #1078AD;
  color: #e9ecef; }

/*NavBar Start */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url(../image/bar-17.png);
  height: 70px;
  padding: 1em; }
  .top-nav .nav {
    display: flex;
    flex-direction: row; }
  .top-nav .nav > li {
    font-size: 1.3vw; }
  .top-nav .Conseils {
    margin: 0 1rem;
    color: #000000; }
  .top-nav .Accueil {
    margin: 0 1rem;
    padding-right: 8rem;
    font-weight: bold;
    color: #1078AD; }

.logo {
  width: 2%;
  margin-left: 2%; }

/*NavBar End */
/*Yellow-Part Start */
.yellowpart {
  text-align: center;
  background-color: #F4CF1B;
  font-size: 2.5vh;
  padding-bottom: 2%;
  padding-top: 0.2%; }

.yellowparttitle {
  color: #1078AD;
  font-size: 1.5vw;
  font-weight: bold; }

/*Yellow-Part End */
/*HeroHeader Start */
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.ImG {
  width: 100%;
  height: auto; }

.part1 {
  text-align: center;
  font-size: 1.5vw;
  padding-top: 4%;
  font-weight: bold; }

.p2 {
  color: #7F7F7F;
  padding-top: 3%;
  padding-bottom: 3%; }

.lefttitle {
  color: #1078AD;
  font-size: 1.9vw;
  font-weight: bold; }

/*HeroHeader End */
.T2 {
  text-align: center;
  font-weight: bolder;
  color: #1078AD;
  font-size: 2vw;
  margin-top: 2%; }

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 2%; }

.para {
  text-align: center; }

.IMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%; }

.secti3 {
  background-color: #1078AD; }

.Rec {
  text-align: center;
  color: #e9ecef;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 1.7vw; }

.cons {
  color: #e9ecef;
  padding-left: 21%;
  font-size: 1.3vw; }

.content2 {
  display: flex; }

.part12 {
  margin-left: 13%; }

.but {
  display: block;
  background-color: #F4CF1B;
  border: none;
  color: #1078AD;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 1.7vw;
  font-weight: bold;
  width: 12rem;
  margin-bottom: 7%;
  width: 140%; }

.text {
  padding-left: 19%;
  color: #D0E5F0;
  font-size: 1.3vw; }

span {
  color: #F4CF1B; }

.part11 {
  padding-top: 1%;
  padding-bottom: 3%; }

.titr {
  padding-left: 48%;
  padding-bottom: 5%;
  font-size: 1.5vw;
  color: #F4CF1B; }

.bluepart {
  background-color: #96C5DC;
  text-align: center; }

.blueparttit {
  color: #1078AD;
  padding-top: 2%;
  font-size: 1.7vw; }

.icon2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%; }

.buttn {
  margin-bottom: 3%; }

.logo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 3%; }

.container2 {
  display: flex; }

.left2 {
  text-align: center;
  padding-left: 20%;
  font-size: 1vw;
  padding-bottom: 2%; }

.numb {
  color: #369D53; }

.rghit2 {
  padding-left: 30%;
  padding-top: 2%;
  text-align: center;
  font-size: 1.4vw; }

.Acceuil2 {
  font-weight: bold;
  color: #1078AD; }

.Conseils2 {
  color: #000000; }

.bluebar {
  background-color: #1078AD;
  width: 100%;
  height: 50px; }

#proteger {
  margin-bottom: 7%; }

.protegertitle {
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
  color: #1078AD;
  font-size: 2vw; }

.perpart {
  display: flex;
  padding-top: 5%;
  text-align: center;
  font-weight: bold; }

.pic3 {
  padding-left: 7%; }

.pic2 {
  padding-left: 9%; }

.pic1 {
  padding-left: 14%;
  padding-top: 3%; }

.pictitr {
  margin-left: -6%; }

.Derpart {
  display: flex;
  text-align: center; }

.pic33 {
  padding-left: 9%;
  padding-top: 6%; }

.pic22 {
  padding-left: 10%;
  padding-top: 6%; }

.pic11 {
  padding-left: 11%;
  padding-top: 6%; }

.PIC {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  padding-top: 2%; }

.TiTr {
  text-align: center; }

#Informations {
  background-color: #D0E5F0;
  text-align: center;
  font-size: 1.7vw;
  font-weight: bold;
  color: #1078AD;
  margin-bottom: 5%; }

.linkbtn {
  background-color: #1078AD;
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3%;
  margin-top: 2%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1vw;
  border-radius: 5px;
  width: 20%; }

.Obtenez {
  color: #00008B; }

.Informa {
  padding-top: 2%; }

/*Buttn*/
@media screen and (max-width: 768px) {
  .buttn {
    width: 150px;
    font-size: 10px;
    padding: 6px 6px; } }

/*Yellow-Part*/
/*Hero-eader*/
/*proteger section*/
@media screen and (max-width: 768px) {
  .perpart {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch; }
  .Derpart {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch; } }

/*symptoms*/
@media screen and (max-width: 768px) {
  .IMG {
    height: 60px; }
  .para {
    font-size: 80%; }
  .parent {
    margin-right: 6%;
    padding-bottom: 5%; }
  .T2 {
    font-size: 100%; } }
